.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
    text-align: center;
    width: 100vw;
}

.title {
    font-size: 7rem;
    color: var(--primary-color);
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}

.message {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 2rem;
    color: var(--xl-text-color);
    font-weight: bold;
    max-width: 500px;
}

.suggestion {
    font-size: 1.2rem;
    color: var(--xl-text-color);
    font-weight: bold;

}

.link {
    color: var(--primary-color);
    text-decoration: underline;
    font-weight: bold;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}