.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    font-weight: 900;
    animation: fadeIn 0.3s ease-in-out;
}

.modal {
    background: white;
    padding: 25px;
    border-radius: 12px;
    max-width: 400px;
    width: 90%;
    text-align: center;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    padding-top: 60px;
    animation: popIn 0.3s ease-in-out;
}

.iconContainer {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    animation: bounce 0.6s ease-in-out infinite alternate;
}

.icon {
    font-size: 2.8rem;
}

.success {
    color: yellowgreen;
}

.warning {
    color: rgb(255, 166, 0);
}

.error {
    color: var(--primary-color);
}

.h2Success,
.h2Warning,
.h2Error {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 12px;
}

.h2Success {
    color: yellowgreen;
}

.h2Warning {
    color: rgb(255, 166, 0);
}

.h2Error {
    color: var(--primary-color);
    font-size: 28px;
}

p {
    font-size: 1rem;
    color: var(--side-text-color);
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: bold;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-top: 20px;
}

.closeButton,
.confirmButton {
    background-color: white;
    border: 2px solid black;
    color: black;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    flex: 1;
}

.closeButton:hover,
.confirmButton:hover {
    background-color: white;
    color: var(--primary-color);
    border-width: 2px;
}

.closeButtonSuccess:hover,
.confirmButtonSuccess:hover {
    border-color: yellowgreen;
    color: yellowgreen;
}

.closeButtonWarning:hover,
.confirmButtonWarning:hover {
    border-color: rgb(255, 166, 0);
    color: rgb(255, 166, 0);
}

.closeButtonError:hover,
.confirmButtonError:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.message {
    font-size: 22px;
    font-weight: 900;
    color: black;
}

.titleClass {
    font-size: 22px;
    font-weight: 900;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes popIn {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(1);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-5px) translateX(-50%);
    }

    50% {
        transform: translateY(0) translateX(-50%);
    }
}