.containerConfig {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 16px;
  gap: 2vw;
  height: max-content;
}

.headerConfig {
  display: flex;
  align-items: center;
  text-align: left;

}

.titleConfig {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
}

.saveButton {
  margin: 0 auto;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background-color: white;
  width: 10vw;
  outline: none
}

.saveButton:hover {
  color: white;
  background-color: var(--primary-color);
  border: none;
}

.saveButton:focus,
.saveButton:active {
  outline: none;
  box-shadow: none;
}

@media (max-width: 768px) {
  .saveButton {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: 2px solid var(--primary-color);

  }

  .saveButton:hover {
    color: white;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
  }

  .saveButton:focus,
  .saveButton:active {
    outline: none;
    box-shadow: none;
  }
}
  @media (max-width: 480px) {
    .saveButton {
      font-size: 15px;
      padding: 8px 12px;
      border-radius: 6px;
      border: 2px solid var(--primary-color);

    }

    .saveButton:hover {
      color: white;
      background-color: var(--primary-color);
      border: 2px solid var(--primary-color);
    }

    .saveButton:focus,
    .saveButton:active {
      outline: none;
      box-shadow: none;
    }
  }